version: "3.9"

services:
  test:
    container_name: monitor-test
    build:
      context: .
    restart: unless-stopped
    ports:
      - "8010:8010"
    networks:
      - webpage_network

networks:
  webpage_network:
    external: True